<nav class="navbar navbar-light navbar-expand-lg" style="height: 84px;color: rgb(33, 37, 41);background: #ffffff;">
        <div class="container"><a class="navbar-brand" href="blogs.html">Brand</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="background: #ffffff;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/blogs/home" data-bs-target="blogs" style="font-size: 18px;">Inicio</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/productos/catalogo" style="font-size: 18px;">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blogs/contactenos" style="font-size: 18px;">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>