{{> header_blog}}

<body class="mg-2" style="background: rgb(239,239,239);">
    {{> navbar_blog}}
    <div style="background: #efefef;">
        <div class="container">
            <div class="row" style="background: #efefef;">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <h1 id="lblTitulo" style="padding-top: 14px;padding-bottom: 0px;"></h1></br><span id="lblAutor" style="font-size: 16px;font-weight: bold;"></span><h2 id="lblFechaPublicacion" style="font-size: 16px;padding: 0px;"><br><br></h2>
                </div>
            </div>
        </div>
    </div>
    <article style="border-color: rgb(33, 37, 41);border-top-color: rgb(33,;border-right-color: 37,;border-bottom-color: 41);border-left-color: 37,;background: #efefef;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto" id="contenido">

                </div>
            </div>
        </div>
    </article>
    <div class="container">
        <h1 class="col-md-10 col-lg-8 mx-auto mt-5" style="font-size: 29px;margin-bottom: 18px;">Comentarios</h1>
        <div class="row " id="ctnSeccionComentario" style="background: #efefef;">
            <!---Contenedor de un comentario-->
            
           
        </div>
        
        <div class="col-md-10 col-lg-8 mx-auto" id="frmComentario" style="margin: 0px;padding-left: 0px;margin-bottom: 5px;">
            <form>
                <h1 style="font-size: 29px;margin-bottom: 18px;">Poner un comentario</h1><textarea class="form-control" id="txtComentario" placeholder="Comentario" style="margin-bottom: 5px;height: 106px;resize: none;" required></textarea><input class="form-control" type="text" id="txtNombre" placeholder="Nombre" style="margin-bottom: 5px;" required><input class="form-control" type="email" id="txtEmail" placeholder="Correo" style="margin-bottom: 5px;" required>
                <div style="text-align: right;"><button class="btn btn-primary" type="button" style="padding: 0;margin: 0;padding-right: 20px;padding-left: 21px;padding-top: 12px;padding-bottom: 12px;" id="btnSubmit">Enviar comentario</button></div>
            </form>
        </div>
    </div>
    
    {{> footer_blog}}
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="module" src="/assets/js/fetch_script.js"></script>
    <script type="module" src="/assets/js/post_script.js"></script>
</body>

</html>